/* Main CSS File for Crest School

Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
 - Config
 - Normalize
 - Base Styles
 - Typography
 - Layout
*/

@import "config";
@import "normalize";
@import "base";
@import "type";
@import "layout2";
@import "ui";

/*
 * some basic stuff for demo page
 */
.hidden {
	display: none;
}

.docs-content {
	margin-bottom: 4rem;
}

.page-intro {
	text-align: center;
}

.page-intro p {
	text-align: justify;
	padding: 0 2rem;
}

.page-title {
	text-transform: uppercase;
}

.topic-header,
.docs-header {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
	font-weight: 600;
	color: $color-headings-highlight;
}

.button-wrapper {
	margin-bottom: 2rem;
}

.side-by-side {
	display: flex;
}
.side-by-side > div,
.side-by-side > ul {
	width: 50%;
}
